<h1><%= @user.username %></h1>

<ul> 
<% @user.sneakers.each do |sneakers| %>
    <li><%= sneaker.brand %></li>
    <li><%= sneaker.model %></li>
    <li><%= sneaker.price %></li>
    <li><%= sneaker.size %></li>
    <li><%= sneaker.sport %></li>
</ul>


