<h1>Model: <%= @sneaker.model%></h1>
<h2>Brand: <%= @sneaker.brand%></h2>
<h4>Sport: <%= @sneaker.sport%></h4>
<h4>Price: <%= @sneaker.price%></h4>
<h4>Size: <%= @sneaker.size%></h4>
<br>
<br>

<li><h5><a href="/sneakers/<%=@sneaker.id%>">Edit Sneaker</a><h/5></li><br>

