<h2>Model: <%= @sneaker.model%></h2>
<h2>Brand: <%= @sneaker.brand%></h2>
<h4>Sport: <%= @sneaker.sport%></h4>
<h4>Price: <%= @sneaker.price%></h4>
<h4>Size: <%= @sneaker.size%></h4>
<br>
<br>

<li><h5><a href="/sneakers/<%=@sneaker.id%>">Edit Sneaker</a><h/5></li><br>
<li><h5><a href="/sneakers/<%=@sneaker.id%>">Delete Sneaker</a><h/5></li><br>

<% if logged_in? %>
    <h3>You are logged in as: <%= current_user.username %> </h3>
    <a href ="/logout"> Log out here</a>
    <% end %>

